
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>AdminProfile</h2>


<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Date Of birth</th>
        <th>Password</th>

    </tr>

    <tr>
        <td>@Model.ID</td>
        <td>@Model.Name</td>
        <td>@Model.Email</td>
        <td>@Model.DateOfBirth</td>
        <td>@Model.Password</td>


    </tr>



</table>
