
@{
    ViewBag.Title = "RequestDetails";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h2>RequestDetails</h2>

<form action="" method="post">

    <label>ID</label>
    <input type="text" name="ID" class="form-control" value="@Model.ID" />

    <label>FoodName</label>
    <input type="text" name="FoodName" class="form-control" value="@Model.FoodName" />

    <label>FoodQuantity</label>
    <input type="text" name="FoodQuantity" class="form-control" value="@Model.FoodQuantity" />

    <label>PreserveTime</label>
    <input type="datetime" name="PreserveTime" class="form-control" value="@Model.PreserveTime" />

    <label>RestaurantID</label>
    <input type="text" name="RestaurantID" class="form-control" value="@Model.RestaurantID" />

    <select name="Status">

        <option selected value="Accepted">Accepted</option>
        <option value="Picked">Picked</option>
        <option value="Picked">Delivered</option>

    </select>
    <input type="submit" value="Change" />
</form>         
